<br> Language : Java
<br> Back-End : Spring boot,Jpa,QueryDsl,Thymeleaf,websoket,
<br> Front-End : HTML,CSS,JS
<br> SpringSecurity,Lombok,querydsl
<br> Server : AWS EC2
<br> Database :MariaDB
<br> Tools : Intelli

 <style>
        /* 각 이미지 컨테이너에 대한 스타일 */
        .image-container {
            width: 30%; /* 이미지 컨테이너의 너비를 조절합니다. */
            float: left; /* 이미지를 왼쪽으로 부유시킵니다. */
            margin: 1%; /* 이미지 간 간격을 조절합니다. */
            box-sizing: border-box; /* 패딩과 테두리를 포함하여 전체 너비를 계산합니다. */
        }

        /* 이미지에 대한 스타일 */
        .image-container img {
            width: 100%; /* 이미지를 100% 너비로 조절합니다. */
            height: auto; /* 비율을 유지한 채로 이미지의 높이를 자동 조절합니다. */
            display: block; /* 텍스트 기준선을 기준으로 이미지를 블록 수준 요소로 표시합니다. */
        }
    </style>
</head>
<body>

    <!-- 여섯 개의 이미지 컨테이너 -->
    <div class="image-container">
        <img src="images/나무메인사진1.png" alt="나무 메인 사진 1">
    </div>

    <div class="image-container">
        <img src="images/나무메인사진2.png" alt="나무 메인 사진 2">
    </div>

    <div class="image-container">
        <img src="images/나무메인사진3.png" alt="나무 메인 사진 3">
    </div>

    <div class="image-container">
        <img src="images/나무메인사진4.png" alt="나무 메인 사진 4">
    </div>

    <div class="image-container">
        <img src="images/나무메인사진5.png" alt="나무 메인 사진 5">
    </div>

    <div class="image-container">
        <img src="images/나무메인사진6.png" alt="나무 메인 사진 6">
    </div>

</body>
