<br> Language : Java
<br> Back-End : Spring boot,Jpa,QueryDsl,Thymeleaf,websoket,
<br> Front-End : HTML,CSS,JS
<br> SpringSecurity,Lombok,querydsl
<br> Server : AWS EC2
<br> Database :MariaDB
<br> Tools : Intelli

<div class="projects-container" id="proj">
        <ul class="projects" data-anchor="projects" id="projects">
            <li class="project project-1 ripple load-bg" data-project-id="project1">
                <div class="project-image"></div>
                <div class="project-content">
                    <h3 class="project-title"><span>Teachering</span></h3>
                    <div class="code-app">
                        <a href="https://github.com/sojeong2184/sojeong2184.github.io" target="_blank" class="code">Source code</a>
                        <a href="https://github.com/sojeong2184/sojeong2184.github.io" target="_blank" class="app">App</a>
                    </div>
                    <div class="project-description">This web application is designed to
                        assist students who need help at school to enhance their academic
                        lifestyle.</div>
                    <div class="lang">Bootstrap JS</div>
                </div>
            </li>
            <li class="project project-2 ripple load-bg" data-project-id="project2">
                <div class="project-image"></div>
                <div class="project-content">
                    <h3 class="project-title"><span>KitchenGenie</span></h3>
                    <div class="code-app">

                        <a href="https://github.com/sojeong2184/sojeong2184.github.io" target="_blank" class="code">Source code</a>
                        <a href="https://github.com/sojeong2184/sojeong2184.github.io" target="_blank" class="code">App</a>
                    </div>
                    <div class="project-description">It is a web application that utilizes AI technology to simplify
                        meal planning and preparation
                        by suggesting recipes based on ingredients available at home</div>
                    <div class="lang">Bootstrap NodeJS MongoDB</div>
                </div>

            </li>
            <li class="project project-3 ripple load-bg" data-project-id="project3">
                <div class="project-image"></div>
                <div class="project-content">
                    <h3 class="project-title"><span>Space Invader</span></h3>
                    <div class="code-app">

                        <a href="https://github.com/sojeong2184/sojeong2184.github.io" target="_blank" class="code">Source code</a>
                        <a href="https://github.com/sojeong2184/sojeong2184.github.io" target="_blank" class="app">App</a>
                    </div>
                    <div class="project-description">Defend the galaxy!Play 'Space Invader' now!!</div>
                    <div class="lang">Java MongoDB</div>
                </div>
            </li>
            <li class="project project-4 ripple load-bg" data-project-id="project4">
                <div class="project-image"></div>
                <div class="project-content">
                    <h3 class="project-title"><span>Community Board</span></h3>
                    <div class="code-app">

                        <a href="https://github.com/7374179/Board-for-JavaSpring" target="_blank" class="code">Source
                            code</a>
                        <a href="https://github.com/7374179/Board-for-JavaSpring" target="_blank" class="app">App</a>
                    </div>
                    <div class="project-description">이 앱은 무슨 목적과 기능에 대한 것임 사용언어는 자바랑 어쩌구임하하하하하하하</div>
                    <div class="lang">JavaSpring MySQL</div>
                </div>
            </li>
            <li class="project project-5 ripple load-bg" data-project-id="project4">
                <!-- <div class="project-image"></div>
                <div class="project-content">
                    <h3 class="project-title"><span>Community Board</span></h3>
                    <div class="code-app">

                        <a href="https://github.com/7374179/Board-for-JavaSpring" target="_blank" class="code">Source
                            code</a>
                        <a href="https://github.com/7374179/Board-for-JavaSpring" target="_blank" class="app">App</a>
                    </div>
                    <div class="project-description">이 앱은 무슨 목적과 기능에 대한 것임 사용언어는 자바랑 어쩌구임하하하하하하하</div>
                    <div class="lang">JavaSpring MySQL</div>
                </div> -->
            </li>
            <li class="project project-6 ripple load-bg" data-project-id="project4">
                <!-- <div class="project-image"></div>
                <div class="project-content">
                    <h3 class="project-title"><span>Community Board</span></h3>
                    <div class="code-app">

                        <a href="https://github.com/7374179/Board-for-JavaSpring" target="_blank" class="code">Source
                            code</a>
                        <a href="https://github.com/7374179/Board-for-JavaSpring" target="_blank" class="app">App</a>
                    </div>
                    <div class="project-description">이 앱은 무슨 목적과 기능에 대한 것임 사용언어는 자바랑 어쩌구임하하하하하하하</div>
                    <div class="lang">JavaSpring MySQL</div>
                </div> -->
            </li>
        </ul>
    </div>
