
<head>
   <h2 class="font-weight-bold heading text-primary mb-4">중고물품을 판매하고 구매하는 중고거래 웹사이트입니다</h2>
   <style>
     .image-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 2개의 열을 가진 그리드 설정 */
            gap: 10px; /* 열 사이의 간격 설정 */
        }
        .project-image {
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
 <div class="image-container">
        <div class="project-image" id="dynamic-image1"></div>
        <div class="project-image" id="dynamic-image2"></div>
    </div>
  
    <script>
       const imagePaths1 = ["images/질문.png", "images/질문조회.png", "images/질문수정삭제.png"];
       const imagePaths2 = ["images/나무메인사진.png", "images/로그인.png", "images/나무메인사진.png"];

        // 이미지를 동적으로 변경하는 함수
      function changeImage(elementId, imagePaths) {
            const randomIndex = Math.floor(Math.random() * imagePaths.length);
            const dynamicImage = document.getElementById(elementId);
            dynamicImage.style.backgroundImage = `url(${imagePaths[randomIndex]})`;
        }

   changeImage("dynamic-image1", imagePaths1);
        changeImage("dynamic-image2", imagePaths2);

        setInterval(() => {
            changeImage("dynamic-image1", imagePaths1);
            changeImage("dynamic-image2", imagePaths2);
        }, 2000);
    </script>

</body>
